server {
        listen 80 default_server;
        listen [::]:80 default_server;
        #listen 443 ssl default_server;
        #listen [::]:443 ssl default_server;
        #ssl_certificate     /etc/letsencrypt/live/example.com/fullchain.pem;
        #ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;

        server_name .example.com;
        root /usr/share/nginx/html/laravel/public;
        index index.php index.html index.htm;
        #ssl_dhparam /etc/ssl/certs/dhparam.pem;
        location / {
          try_files $uri $uri/ /index.php?$query_string;
        }
	      location ~ \.php$ {
          fastcgi_intercept_errors on;
          fastcgi_index  index.php;
          include        fastcgi_params;
          fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
          fastcgi_param  PATH_INFO $fastcgi_path_info;
          fastcgi_pass   php-fpm;
       }
}

server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name _;
        index index.php index.html index.htm;
        location / {
            proxy_pass  http://localhost:3000;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;

        }
}  